# Environment Variables
.env
.env.local
.env.*.local
secure.env

# Dependencies
/node_modules

# IDE specific files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*